

<!-- HTML -->

<div class=" row " >
    <div class=" col-lg-3 col-md-3 " >
        <a id="btnAbrirWell" class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Añadir productos
        </a>
    </div>
    <!-- ./col -->
</div>
<!-- ./row -->


<div class="collapse" id="collapseExample">
    <div class="well">
        <form action="#" id="frmDocumento" autocomplete="off" ></form>
    </div>
</div>

<hr>
<table class=" table cell-border compact stripe hover table-striped table-hover " id="tblProd" style="width:100%;" >
    <thead>
        <tr>
            <th>#</th>
            <th>Cod.</th>
            <th>Descripción</th>
            <th>U.Medida</th>
            <th>Cantidad</th>
            <th>Dosis / Obs</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



<!-- Scripts -->
<script type="text/javascript">
var _token_node = '{{tokenNode}}';
var _URL_NODE3  = '{{URL_NODE}}';
/* ------------------------------------------------------------- */
var table,tblPersonal;
/* ------------------------------------------------------------- */
var _tokenOS = '{{tokenos}}', IdOS = parseInt( $('#frmDocumento #IdOS').val() );
/* ------------------------------------------------------------- */
var Tecnicos = [];
/* ------------------------------------------------------------- */
//
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
//
(function($){
	$(document).ready(function()
		{
			/* ------------------------------------------------------------- */
			/* ------------------------------------------------------------- */
			/* ------------------------------------------------------------- */
			/* ------------------------------------------------------------- */
			/* ------------------------------------------------------------- */
			/* ------------------------------------------------------------- */
			/* ------------------------------------------------------------- */
			/* ------------------------------------------------------------- */
			/* ------------------------------------------------------------- */
			/* ------------------------------------------------------------- */
		});

})(jQuery);
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
function renovarToken()
{
    var length = 22;
    var result           = '';
    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    result += '-';
    for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    result += '-';
    for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    $('#frmDocumento #uu_id').val( result );   
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
function _esVisible()
{
    var x = document.getElementById("collapseExample");
    if (window.getComputedStyle(x).display === "none") {
        $('#btnAbrirWell').trigger('click');
        $('#frmDocumento #Glosa').focus();
    }
}
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
</script>

