node_modules
.env
package-lock.json
servidor.js
/assets/pte/*
/assets/zip_certificados/*
/adjuntos/archivos/*
/adjuntos/boletas/*
/adjuntos/capacitacion/*
/adjuntos/firma/*
/assets/ficha/*
/adjuntos/repo/*
/adjuntos/archivo_cod_qr/*
/adjuntos/constancia_supervision/*
/adjuntos/pdf/*
/adjuntos/certificados/*
/adjuntos/reporte_lap/*
/adjuntos/img_compress/*
