
APP_TIPO=DEVELOP

PORT=8518

DB_host=yupicode.com
DB_user=node
DB_password=Gm>(>57Stzg=fG(P
DB_database=ssays01

# Conexion server auditoria
DB_host2=yupicode.com
DB_user2=node
DB_password2=Gm>(>57Stzg=fG(P
DB_database2=ssays_audit

# Conexion orquesta2 231
DB_host3=190.102.141.189
DB_user3=desarrollo
DB_password3=ssays01+
DB_database3=ssays01

# MSSQL
SQLS_host=192.168.15.215
SQLS_user=sa
SQLS_password=8z4tRPap
SQLS_bd=RSFACCAR


KEY_key=D:\Renzo\repo\Node js\ORQ3\ssl\ssaysorquesta\STAR_ssays-orquesta_com_key.key
KEY_cert=D:\Renzo\repo\Node js\ORQ3\ssl\ssaysorquesta\star.ssays-orquesta.com.crt

BITLY_API=82975d2ef4e1889e8c172abe80363613bcdf3e1a
MODULO_TRABAJO=https://app.ssays-orquesta.com/
MODULO_LND=https://lnd.ssays-orquesta.com/

SPARKPOST_SECRET=6586f9ffefe35cdf524aa04d9e8334c91810bcec

APP_PATH=D:\Repositorios\NodeJS-ORQ\ORQ3\
URL_TECNICO=https://tecnico.ssays-orquesta.com

RUTA_PROYECTO=D:\Renzo\repo\Node js\ORQ3

URL_NODE=http://localhost:8518

NEXMO_KEY=97ffa645
NEXMO_SECRET=QgrqkAkvpWQZIcJ5

RUTA_XML=C:\Repositorio\Orquesta-3\landing\public\xml

# Parametros para factura electronical
SOAP_URL=http://testing.bizlinks.com.pe/integrador21/ws/invoker?wsdl
SOAP_USER=saays
SOAP_PASSWD=20102187211

URL_CERTIFICADOS=C:\Repositorio\NodeJS\ORQ3\assets\certificados
URL_FICHASINT=C:\Repositorio\NodeJS\ORQ3\assets\ficha
